.textOutput{
  text-align: center;
  padding: 10px;
  font-size: xx-large;
  border-style: groove;
}
.parentContainer{
  margin-top: 20%
}

.center{
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em
}